html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address,img,  ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead,
article, aside,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #fafafa;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #ffffff;
    padding: 0; /
    
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    padding: 20px 20px;
}

.navbar-links {
    display: flex;
    align-items: stretch;
}

.navbar-link {
    display: flex;
    align-items: center;
    padding: 0 0.9rem;
    text-decoration: none;
    color: #333333;
    background-color: #ffffff;
    border: none;
    height: 100%;
    box-sizing: border-box;
}

.navbar-link-important {
    background-color: #D14836;
    color: white;
}

.navbar-link:not(.navbar-link-important) {
    background-color: transparent;
}

.navbar-link:hover {
    background-color: #D14836;
    color: white;
}

.navbar-link-important:hover {
    background-color: #C1351D;
}

.container {
    background: #fafafa;
    padding: 30px;
    border-radius: 8px;

}

.signup-form {
    width: 800px;
}

form{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

fieldset {
    border: 2px solid #eeeeee;
    padding: 20px;
    margin: 0;
}

legend {
    padding: 0 10px;
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
}

.input-container {
    margin-bottom: 0.9rem;
}

label {
    display: block;
    margin-bottom: 0.3rem;
    color: #666;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px); 
    padding: 0.6rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    margin-bottom: 0.6rem; 
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #aaa;
    box-shadow: 0 0 0 1px #aaa;
}

.submit-container {
    text-align: center;
}

button {
    padding: 0.6rem 1.25rem;
    border: none;
    background-color: #357ae8; 
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s;
}