@import url(./reset.css);

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #ffffff;
    padding: 0;
    
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    font: 1.6rem 'Open Sans', sans-serif;
}

.navbar-links {
    display: flex;
    align-items: stretch;
}

.navbar-link {
    display: flex;
    align-items: center;
    padding: 0 0.9rem;
    text-decoration: none;
    color: #333333;
    background-color: #ffffff;
    border: none;
    height: 100%;
    box-sizing: border-box;
}

.navbar-link-important {
    background-color: #D14836;
    color: white;
}

.navbar-link:not(.navbar-link-important) {
    background-color: transparent;
}

.navbar-link:hover {
    background-color: #D14836;
    color: white;
}

.navbar-link-important:hover {
    background-color: #C1351D;
}

/* para */

.para h1{
    padding-top: 1.8rem;
    padding-bottom: 1.25rem;
    text-align: center;
    font-size: 2.5rem;
   

}

.parat{
    padding-top: 0.5rem;
    text-align: center;
    font-size: 1.25rem;

}


/* hero */

.hero {
    background-image: url(../asset/home-hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-align: left;
    padding-left: 3.1rem; 
}

.hero-content {
    max-width: 600px; 
    margin-right: 1100px;
}

.hero h1 {
    font-size: 4.5rem; 
    margin-bottom: 0.5em;
    font-weight: 300;

}

.hero-button {
    padding: 0.9rem 1.8rem;
    background-color: #D14836; 
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0.4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    transition: background-color 0.3s, box-shadow 0.3s;
    line-height: 3.5rem;
    
}

.hero-button:hover {
    background-color: #C1351D; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* form */

.container {
    background: #fafafa;
    padding: 1.8rem;
    border-radius: 0.5rem;

}

.signup-form {
    width: 800px;
}

form{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

fieldset {
    border: 0.1rem solid #eeeeee;
    padding: 1.25rem;
    margin: 0;
}

legend {
    padding: 0 0.6rem;
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
}

.input-container {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 1rem;
    color: #666;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px); 
    padding: 0.6rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 0.6rem; 
    line-height: 3.6rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #aaa;
    box-shadow: 0 0 0 1px #aaa;
}

.submit-container {
    text-align: center;
}

button {
    padding: 0.6rem 1.25rem;
    border: none;
    background-color: #357ae8; 
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    line-height: 3.6rem;
}









.container {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links {
        width: 100%;
        text-align: center;
    }
}


@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-logo, .navbar-links {
        width: 100%;
        text-align: center;
    }

    .navbar-links {
        margin-top: 20px;
    }
}
